################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/packages
/**/bin
/**/obj
/**/*.xsd
/ALM.Tests/bin
/ALM.Tests/obj
/.vscode