################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/packages
/ALM/bin
/ALM/obj
/**/*.xsd
/Plugins.Tests/
/Plugins.Core.Tests/
/Plugins/ClassDiagram1.cd
/ALM.Tests/bin
/ALM.Tests/obj
/Plugins.Tests/Core
/Plugins.Tests/Helpers
/.vscode
